# Data set 1

importamos Dataset de kaggle.

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arashnic/book-recommendation-dataset")

print("Path to dataset files:", path)

/Users/emilianosandoval/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/Users/emilianosandoval/Library/Python/3.9/lib/python/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /Users/emilianosandoval/.cache/kagglehub/datasets/arashnic/book-recommendation-dataset/versions/3

In [4]:
import pandas as pd
import os

dataset_path = "/Users/emilianosandoval/.cache/kagglehub/datasets/arashnic/book-recommendation-dataset/versions/3"

# List files in the dataset directory
files = os.listdir(dataset_path)
print("Files in dataset directory:", files)

Files in dataset directory: ['classicRec.png', 'Users.csv', 'recsys_taxonomy2.png', 'Ratings.csv', 'DeepRec.png', 'Books.csv']

In [5]:
# List all CSV files in the directory
csv_files = [file for file in os.listdir(dataset_path) if file.endswith(".csv")]

# Read each CSV file into a dictionary of DataFrames
dataframes = {file: pd.read_csv(os.path.join(dataset_path, file)) for file in csv_files}

# Print the keys (file names) to confirm
print("Loaded DataFrames:", dataframes.keys())

Loaded DataFrames: dict_keys(['Users.csv', 'Ratings.csv', 'Books.csv'])

/var/folders/x8/bcyrr1557g10v0ydrq5tr0gh0000gn/T/ipykernel_12391/3793803343.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = {file: pd.read_csv(os.path.join(dataset_path, file)) for file in csv_files}

In [7]:
df_users = dataframes["Users.csv"]
df_ratings = dataframes["Ratings.csv"]
df_books = dataframes["Books.csv"]

In [ ]:
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [10]:
df_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [14]:
# Ensure all location values are strings and extract the last part after the last comma
df_users["country"] = df_users["Location"].apply(lambda x: str(x).split(",")[-1].strip().lower())

# Filter for users where the country is "mexico"
mexico_users = df_users[df_users["country"] == "mexico"]

# Count the number of users from Mexico
num_mexico_users = len(mexico_users)

print(f"Number of users from Mexico: {num_mexico_users}")
print(f"% of users from mexico: {(num_mexico_users/2788589)*100}")

Number of users from Mexico: 840
% of users from mexico: 0.03012276100924159

# Data

First data review:

## Form: tabular, images, user profiles, time series, audio, etc.

Tabular

## Size of the database, #records, #variables

Data wrangler: 

**Books.csv**
- 271,360 

**Ratings.csv**
- 1,149,780

**Users.csv**
- 278,858

## Types of variables found:

In [18]:
df_books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [19]:
df_ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [20]:
df_users.dtypes

User-ID       int64
Location     object
Age         float64
country      object
dtype: object

## identification of target variable and independent variables

**TBD**

## Are there missing data?

Usando Data Wrangler
- Books.csv
  - Book-Author: 2, <1%
  - Publisher: 2, <1%
  - Image-URL-L: 3, <1%
- Ratings.csv: ningun missing value 
- Users.csv
  - Age, 40%

# Data set 2

In [21]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("thedevastator/books-sales-and-ratings")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/thedevastator/books-sales-and-ratings?dataset_version_number=2...

100%|██████████| 53.2k/53.2k [00:00<00:00, 30.0MB/s]

Extracting files...
Path to dataset files: /Users/emilianosandoval/.cache/kagglehub/datasets/thedevastator/books-sales-and-ratings/versions/2

In [ ]:
dataset2_path = "/Users/emilianosandoval/.cache/kagglehub/datasets/thedevastator/books-sales-and-ratings/versions/2"

# List files in the dataset directory
files = os.listdir(dataset2_path)
print("Files in dataset directory:", files)

Files in dataset directory: ['Books_Data_Clean.csv']

In [25]:
# List all CSV files in the directory
csv_files = [file for file in os.listdir(dataset2_path) if file.endswith(".csv")]

# Read each CSV file into a dictionary of DataFrames
dataframes = {file: pd.read_csv(os.path.join(dataset2_path, file)) for file in csv_files}

# Print the keys (file names) to confirm
print("Loaded DataFrames:", dataframes.keys())

Loaded DataFrames: dict_keys(['Books_Data_Clean.csv'])

In [26]:
df_books_clean = dataframes["Books_Data_Clean.csv"]

In [28]:
df_books_clean.head()

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750